<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">            
            <mat-button-toggle value="add" (click)="openUserDialog(null)">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>           
        </mat-button-toggle-group>            
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search user by name..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid">            
            <mat-button-toggle value="grid">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list">
                <mat-icon>view_list</mat-icon>
            </mat-button-toggle>           
        </mat-button-toggle-group>
    </div>
</div>

<div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">    
    <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p"> 
        <mat-card class="p-0">  
            <div style="background-color: #283593 !important;color:white;" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3> 
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openUserDialog(user)">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <img *ngIf="!user.profile.image" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted">  
                        <mat-icon *ngIf="user.settings.isDeleted" class="warn-color">block</mat-icon>
                    </div>                                            
                    <div class="user-social">
                        <mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">card_membership</mat-icon>
                        <span style="margin-left: 15px !important;">{{user.work.position}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">mail_outline</mat-icon>
                        <span style="margin-left: 15px !important;">{{user.contacts.email}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">call</mat-icon>
                        <span style="margin-left: 15px !important;">{{user.contacts.phone}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">location_on</mat-icon>
                        <span style="margin-left: 15px !important;">{{user.contacts.address}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="muted-text">date_range</mat-icon>
                        <span style="margin-left: 15px !important;">Joined {{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
    <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="flex-p"> 
        <mat-card class="p-0">  
            <div style="background-color: #283593 !important;color:white;" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3> 
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openUserDialog(user);">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted"> 
                        <img *ngIf="!user.profile.image" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted">  
                        <mat-icon *ngIf="user.settings.isDeleted" class="warn-color">block</mat-icon>   
                    </div>                                            
                    <div class="user-social">
                        <mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">business</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.work.company}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">card_membership</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.work.position}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">attach_money</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.work.salary}}</span>
                        </div>
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">mail_outline</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.contacts.email}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">call</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.contacts.phone}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">location_on</mat-icon>
                            <span style="margin-left: 15px !important;">{{user.contacts.address}}</span>
                        </div>
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">event_available</mat-icon>
                            <span style="margin-left: 15px !important;">Registration {{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">date_range</mat-icon>
                            <span style="margin-left: 15px !important;">Joined {{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="user.settings.isDeleted" class="muted-text">person_outline</mat-icon>
                            <mat-icon *ngIf="!user.settings.isDeleted" class="muted-text">person</mat-icon>
                            <span style="margin-left: 15px !important;">{{ (user.settings.isDeleted) ? 'Blocked' : 'Active' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="users" fxLayout="row wrap">
    <div fxFlex="100" class="flex-p"> 
        <mat-card class="p-0 text-center">           
            <pagination-controls class="gradus-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>

<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
    <mat-spinner color="primary"></mat-spinner>    
</div>

