<mat-sidenav-container>
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="p-0 mat-elevation-z24 login-box">
        <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
            <div class="row m-0">
                <div class="col-5 text-white py-5 text-center" style="background-color:#3F51B5 !important">
                    <h2>Sign up</h2>
                    <p>Registration necessarily provides more personal information to a system than it would otherwise have. Even if the credentials used are otherwise meaningless.</p>
                    <button mat-raised-button class="active" (click)="register()">Register Now!</button>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form autocomplete="off" [formGroup]="loginForm" novalidate id="loginForm" style="padding: 15px;" (ngSubmit)="login()">
                        <div class="form-group">
                            <div class="col-12" style=" border-bottom:1px solid #eee; padding:0 0 5px;">
                                <h3 style="color:#333;">
                                    Login</h3>
                                <p class="text-muted">Sign In to your account</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput id="email" type="email" placeholder="Enter your email" formControlName="email" required/>
                                    <mat-error *ngIf="f.email.errors?.required">Email Id is required</mat-error>
                                    <mat-error *ngIf="f.email.hasError('invalidEmail')">Invalid email address</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>Password</mat-label>
                                    <input matInput id="password" type="password" placeholder="Enter your password" formControlName="password" required/>
                                    <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-top: 10px">
                                <div class="col-6">
                                    <button type="submit" mat-raised-button style="background-color: #3F51B5;color:white;" class="mat-elevation-z12 btn btn-block" [disabled]="loginForm.invalid">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="javascript:void(0)" id="to-recover" class="btn-link"><i class="fa fa-lock "></i> Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form autocomplete="off" class="form-horizontal form-material" [formGroup]="forgotForm" id="recoverForm"
                          style="display:none;padding: 15px;" (ngSubmit)="forgotPassword()">

                        <div class="form-group">
                            <div class="col-xs-12">
                                <h3 style="color:#333; border-bottom:1px solid #eee; padding:0 0 5px; margin:15px 0 25px;">
                                    Forgot Password</h3>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput id="forgotEmail" type="email" formControlName="email" placeholder="Enter your registered email address" required/>
                                    <mat-error *ngIf="f1.email.errors?.required">Email is required</mat-error>
                                    <mat-error *ngIf="f1.email.hasError('invalidEmail')">Invalid email address</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <button mat-raised-button class="btn btn-block mat-elevation-z12" color="primary"
                                            (click)="loginPage()" style="margin-right: 10px;color:white;"> <i class="fa fa-chevron-left"></i> Back</button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" mat-raised-button [disabled]="forgotForm.invalid" class="btn btn-block btn-submit mat-elevation-z12"><i
                                            class="fa fa-mobile f20 text-left"></i> Send OTP</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form autocomplete="off" class="form-horizontal form-material" id="resetPasswordForm" [formGroup]="resetForm"
                          style="display:none;padding: 15px;" (ngSubmit)="resetPassword()">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h3 style="color:#333; border-bottom:1px solid #eee; padding:0 0 5px; margin:15px 0 25px;">Reset Password</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>OTP</mat-label>
                                    <input matInput id="otp" type="text" placeholder="Enter your OTP" formControlName="otp"  required/>
                                    <mat-error *ngIf="f2.otp.errors?.required">OTP is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>New Password</mat-label>
                                    <input matInput id="newPassword" type="password" placeholder="Enter your new password" formControlName="newPassword"  required/>
                                    <mat-error *ngIf="f2.newPassword.errors?.required">Password is required</mat-error>
                                    <mat-error *ngIf="f2.newPassword.errors?.pattern">Password must be UpperCase, LowerCase and Number characters </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput id="confirmNewPassword" type="password" placeholder="Retype the password" formControlName="confirmNewPassword"  required/>
                                    <mat-error *ngIf="f2.confirmNewPassword.errors?.required">Confirm Password is required</mat-error>
                                    <mat-error *ngIf="f2.confirmNewPassword.errors?.mismatchedPasswords">Password and Confirm Password must be Equal</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button mat-raised-button color="primary" class="btn btn-block mat-elevation-z12"
                                        (click)="restBack()"> <i class="fa fa-chevron-left"></i>Back</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" mat-raised-button [disabled]="resetForm.invalid" class="btn btn-block btn-submit mat-elevation-z12">Submit<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>

