<mat-sidenav-container>
  
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  
         <form autocomplete="off" [formGroup]="registerForm" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" (ngSubmit)="register()">
  
              <mat-card class="p-0 mat-elevation-z24 box register">
                  <div fxLayout="column" fxLayoutAlign="center center" class="box-header">
                      <button mat-fab color="accent" class="mat-elevation-z12">
                          <mat-icon>person_add</mat-icon>
                      </button>
                      <a mat-button routerLink="/login">Already have an account? Sign in!</a>
                  </div>
                  <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                          <span class="box-content-header">Register member</span>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="First Name" formControlName="firstName">
                              <mat-error *ngIf="f.firstName.errors?.required">First Name is required</mat-error>
                              <mat-error *ngIf="f.firstName.hasError('minlength')">Full Name isn't long enough, minimum of 3 characters</mat-error>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Last Name" formControlName="lastName">
                              <mat-error *ngIf="f.lastName.errors?.required">Full Name is required</mat-error>
                              <mat-error *ngIf="f.lastName.hasError('minlength')">Full Name isn't long enough, minimum of 3 characters</mat-error>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                              <mat-error *ngIf="f.mobileNumber.errors?.required">Mobile Number is required</mat-error>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Email" formControlName="email">
                              <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
                              <mat-error *ngIf="f.email.hasError('invalidEmail')">Invalid email address</mat-error>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Password" formControlName="password" type="password" minlength="6">
                              <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
                              <mat-error *ngIf="f.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                          </mat-form-field> 
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                            <mat-error *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                            <mat-error *ngIf="f.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                          </mat-form-field>
                      </mat-card>
                      <button mat-raised-button style="background-color: #3F51B5;color:white;" class="mat-elevation-z12 box-button"  [disabled]="registerForm.invalid" type="submit" >SIGN UP</button>
                  </mat-card-content>
              </mat-card>
              
         </form>      
    
    </div>
  
  </mat-sidenav-container>
